*{
	margin:0;
	padding:0;
}

html,body{
	background:rgb(236, 236, 236);
}

img{
	position: relative;
	float:left;
	width:25%;
	height:25vw;
}


select{
	font-size:35px;
	margin:14px;
}
















